{% extends 'honey.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form_style.css' %}">
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="DODAJ">
        </form>
    </div>

    {% if message %}
        <div class="center-message">
            <div class="message-box">
                <div class="message-text">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}




