{% extends 'honey.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/list_style.css' %}">

<div class="honey-table-container">
<h2 style="margin-bottom: 18px; text-align: center;">Lista miodów</h2>

    <table class="honey-table" >
        <tr>
            <th>Lp.</th><th>Smak</th><th>Typ</th><th>Rozmiar</th><th>Cena</th><th>Ilość</th><th>Opcje</th>
        </tr>
        {% for honey in honeys %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ honey.taste }}</td>
                <td>{{ honey.type }}</td>
                <td>{{ honey.variant }}</td>
                <td>{{ honey.price }}</td>
                <td>{{ honey.quantity }}</td>
                <td style="display: flex; gap: 8px;">
                    <a href="{% url 'update_offer' honey.id  %}">
                        <button>UPDATE</button>
                    </a>
                    <a href="{% url 'delete_offer' honey.id %}">
                        <button>DELETE</button>
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6" style="text-align: center;">Brak miodów w bazie.</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}