{% extends 'honey.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form_style.css' %}">
    <div class="form-container">
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="DODAJ">
        </form>
    </div>

    {% if message %}
        <div class="center-message">
            <div class="message-box">
                <div class="message-text">{{ message }}</div>
                <div class="message-actions">
                    <a href="{% url 'honey_list' %}" class="action-btn">OK</a>
                    </div>
            </div>
        </div>
    {% endif %}

    {% if message_1 %}
        <div class="center-message">
            <div class="message-box">
                <div class="message-text">{{ message_1 }}</div>
                <div class="message-subtext">
                    Czy chcesz edytować cenę i ilość?
                </div>
                <div class="message-actions">
                    <a href="{% url 'update_offer' honey.id %}" class="action-btn">TAK</a>
                    <a href="{% url 'honey_list' %}" class="action-btn">NIE</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}




