{% extends 'honey.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form_style.css' %}">
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            <h3>Edytujesz :</h3>
            <p>Smak: {{ form.instance.taste }}</p>
            <p>Typ: {{ form.instance.type }}</p>
            <p>Rozmiar: {{ form.instance.variant }}</p>
            {{ form.as_p }}
            <input type="submit" value="UPDATE">
        </form>
    <a href="{% url 'honey_list' %}" class="btn-link">CANCEL</a>
    </div>

    {% if message %}
        <div class="center-message">
            <div class="message-box">
                <div class="message-text">
                    {{ message }}
                </div>
                <div class="message-actions">
                    <a href="{% url 'honey_list' %}" class="action-btn">OK</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
