<!DOCTYPE html>
<html lang='pl'>
<head>
    <meta charset="UTF-8">
    <title>Koszyk</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/list_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form_style.css' %}">
</head>
<body>
{% include 'login_logout_links.html' %}

<h1 class="date-corner">Dzisiaj {{ current_date }}</h1>
 {% include 'links.html' %}


<div class="honey-table-container">
    <h2 style="margin-bottom: 18px; text-align: center;">KOSZYK</h2>

    {% if user.is_authenticated and items %}
        <div class="product-grid">
            {% for item in items %}
                <div class="product-card cart-card">
                    <div class="product-image">
                        {% if item.product %}
                             {% with name=item.product.name %}
                                {% if name == 'Pierzga' %}
                                    <img src="{% static 'images/pierzga.jpg' %}" alt="Pierzga">
                                {% elif name == "Pyłek" %}
                                    <img src="{% static 'images/pylek.jpg' %}" alt="Pyłek">
                                {% elif name == "Wosk" %}
                                    <img src="{% static 'images/wosk.jpg' %}" alt="Wosk">
                                {% else %}
                                    <img src="{% static 'images/propolis.jpg' %}" alt="Propolis">
                                {% endif %}
                            {% endwith %}

                        {% elif item.honey %}
                            {% with taste=item.honey.taste.taste %}
                                {% if taste == 'Akacja' %}
                                    <img src="{% static 'images/akacjowy.webp' %}" alt="Miód Akacjowy">
                                {% elif taste == 'Rzepak' %}
                                    <img src="{% static 'images/rzepakowy.jpg' %}" alt="Miód Rzepakowy">
                                {% elif taste == 'Spadź' %}
                                    <img src="{% static 'images/spadziowy.jpg' %}" alt="Miód Spadziowy">
                                {% elif taste == 'Facelia' %}
                                    <img src="{% static 'images/faceliowy.webp' %}" alt="Miód Faceliowy">
                                {% elif taste == 'Gryka' %}
                                    <img src="{% static 'images/gryczany.jpg' %}" alt="Miód Gryczany">
                                {% elif taste == 'Lipa' %}
                                    <img src="{% static 'images/lipowy.jpg' %}" alt="Miód Lipowy">
                                {% elif taste == 'Malina' %}
                                    <img src="{% static 'images/malinowy.jpeg' %}" alt="Miód Malinowy">
                                {% elif taste == 'Imbir' %}
                                    <img src="{% static 'images/imbir.jpg' %}" alt="Miód Imbir z cytryną">
                                {% elif taste == 'Żurawina' %}
                                    <img src="{% static 'images/zurawinowy.jpeg' %}" alt="Miód Żurawinowy">
                                {% elif taste == 'Porzeczka' %}
                                    <img src="{% static 'images/porzeczkowy.webp' %}" alt="Miód Porzeczkowy">

                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    </div>
                    <div class="product-details">
                        <h3>
                            {% if item.product %}
                                {{ item.product }}
                            {% elif item.honey %}
                                {{ item.honey }}
                            {% endif %}
                        </h3>
                        <div class="cart-qty-row">
                            <b>Ilość:</b>
                            <form method="post" action="{% url 'update_cart_item_quantity' item.id %}" class="cart-qty-form">
                                {% csrf_token %}
                                <input type="number"
                                       name="quantity"
                                       value="{{ item.quantity }}"
                                       min="0"
                                       max="{{ item.available_quantity }}"
                                       required>
                                <button type="submit">Zmień</button>
                            </form>
                        </div>
                        <div class="product-price" style="margin-top:8px;">
                            Cena:
                            {% if item.product %}
                                {{ item.product.price }} PLN
                            {% elif item.honey %}
                                {{ item.honey.price }} PLN
                            {% endif %}
                        </div>
                        <div class="cart-total">
                            Łącznie: {{ item.total }} PLN
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="cart-summary">
            <div class="sum-label">Łącznie w koszyku:</div>
            <div class="sum-value">{{ total_cart }} PLN</div>
            <a href="{% url 'order_summary' %}" class="btn-link2">PODSUMOWANIE ZAMÓWIENIA</a>
        </div>
    {% else %}
        <div class="cart-empty-info">
            <strong>Brak produktów w koszyku.</strong><br>
            <strong>Zaloguj się, aby móc zrobić zakupy.</strong>
        </div>
    {% endif %}

    <div class="cart-back-btn">
        <a href="{% url 'shop_products' %}" class="btn-link3">POWRÓT DO SKLEPU</a>
    </div>

    {% if message %}
        <div class="center-message">
            <div class="message-box {{ message.tags }}">
                <div class="message-text">
                    {{ message }}
                </div>
                <div class="message-actions">
                    <a href="{% url 'cart' %}" class="action-btn">OK</a>
                </div>
            </div>
        </div>
    {% endif %}
</div>
</body>
</html>