<!DOCTYPE html>
<html lang='pl'>
<head>
    <meta charset="UTF-8">
    <title>Sklep</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div>
    {% include 'login_logout_links.html' %}
    <div class='links' style="text-align: center;">
        <a href='{% url 'home' %}'>
            <img src="{% static 'images/home.jpg' %}" alt="home_picture" title="STRONA GŁÓWNA">
        </a>
</div>
    <h1> Dzisiaj  {{ current_date }} </h1>
</div>

{% load static %}
<link rel="stylesheet" href="{% static 'css/list_style.css' %}">

<div class="honey-table-container">
<h2 style="margin-bottom: 18px; text-align: center;">Pasieka Vertigo</h2>

 <form method="get" class="search-form">
        {{ form.query }}
        <button type="submit">Szukaj</button>
 </form>

    <div class="product-grid">
        {% for honey in honeys %}
            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'images/honey.jpg' %}" alt="Miód {{ honey.taste }}">
                </div>
                <div class="product-details">
                    <h3>{{ honey.taste }}</h3>
                    <p><b>Typ:</b> {{ honey.type }}</p>
                    <p><b>Rozmiar:</b> {{ honey.variant }}</p>
                    <p class="product-price">{{ honey.price }} zł</p>
                    {% if user.is_authenticated %}
                        <form action="{% url 'add_to_cart_honey' honey.id  %}" method="get">
                            <button type="submit">Dodaj do koszyka</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p class="empty-text">Brak miodów w bazie.</p>
        {% endfor %}
        {% for product in products %}
                <div class="product-card">
                    <div class="product-image">
                        <img src="{% static 'images/bee_product.webp' %}" alt="Miód {{ product.taste }}">
                    </div>
                    <div class="product-details">
                        <h3>{{ product.name }}</h3>
                        <p class="product-price">{{ product.price }} zł</p>
                        {% if user.is_authenticated %}
                            <form action="{% url 'add_to_cart_product' product.id  %}" method="get">
                                <button type="submit">Dodaj do koszyka</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p class="empty-text">Brak miodów w bazie.</p>
            {% endfor %}
    </div>
</div>
</body>

