{% load static %}
<div class="links_login">
 <div>
        <a href='{% url 'cart' %}'>
            <img src="{% static 'images/koszyk.jpeg' %}" alt="koszyk" title="KOSZYK">
        </a>
            <div class="link_login-label">{% if user.is_authenticated %}
                <strong>{{ items | length }} szt.{% endif %}</strong></div>
   </div>
    <div>
        {% if not user.is_authenticated %}
        <a href='{% url 'login' %}'>
            <img src="{% static 'images/login.jpeg' %}" alt="login" title="LOGIN">
        </a>
        {% endif %}
    </div>
    <div>
        {% if not user.is_authenticated %}
        <a href='{% url 'register' %}'>
            <img src="{% static 'images/register.jpeg' %}" alt="register" title="REGISTER">
        </a>
        {% endif %}
    </div>
    <div>
        <a href='{% url 'logout' %}'>
            <img src="{% static 'images/logout.jpeg' %}" alt="logout" title="LOGOUT">
        </a>
    </div>
    <div>
        <a href='{% url 'user_account' %}'>
            <img src="{% static 'images/user.jpeg' %}" alt="user" {% if user.is_authenticated %}title="{{ user.username }}"
                 {% else %}title="Not logged in"{% endif %}>
        </a>
    </div>
</div>