{% extends 'base.html' %}
{% block links %}{% endblock %}
{% block weather %}{% endblock %}
{% block logo %}{% endblock %}
{% block content %}
    {% load static %}
    <div class="form-hero">
        {% include 'links.html' %}
        {% if url == 'login' %}
            <div class="form-card">
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    <h2 class="form-title">Logowanie</h2>
                    <div class="form-row">
                        {{ form.username.label_tag }}{{ form.username }}
                    </div>
                    <div class="form-row">
                        {{ form.password.label_tag }}{{ form.password }}
                    </div>
                    <button type="submit" class="big-form-btn">ZALOGUJ SIĘ</button>
                    {% if messages %}
                        <div class="center-message" style="margin-top:24px;">
                            <div class="message-box">
                                <div class="message-text">{{ message }}</div>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        {% else %}
            <div class="form-card form-card-flex">
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    <h2 class="form-title">
                    {% for error in form.non_field_errors %}
                        <div class="form-error">{{ error }}</div>
                    {% endfor %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="form-error">{{ error }}</div>
                        {% endfor %}
                    {% endfor %}

                        {% if url == 'register' %}
                            Rejestracja konta
                        {% elif url == 'user_account' %}
                            Edycja konta
                        {% else %}
                            Logowanie
                        {% endif %}
                    </h2>
                    <div class="form-sections-row">
                        <div class="form-section">
                            <h3>Dane osobowe</h3>
                            <div class="form-row">
                                {{ form.first_name.label_tag }}{{ form.first_name }}
                            </div>
                            <div class="form-row">
                                {{ form.last_name.label_tag }}{{ form.last_name }}
                            </div>
                            <div class="form-row">
                                {{ form.username.label_tag }}{{ form.username }}
                            </div>
                            <div class="form-row">
                                {{ form.email.label_tag }}{{ form.email }}
                            </div>
                            <div class="form-row">
                                {{ form.password_1.label_tag }}{{ form.password_1 }}
                                {{ form.password_1.errors }}
                            </div>
                            <div class="form-row">
                                {{ form.password_2.label_tag }}{{ form.password_2 }}
                            </div>
                        </div>
                        <div class="form-section">
                            <h3>Dane adresowe</h3>
                            <div class="form-row">
                                {{ form.city.label_tag }}{{ form.city }}
                            </div>
                            <div class="form-row">
                                {{ form.post_code.label_tag }}{{ form.post_code }}
                            </div>
                            <div class="form-row">
                                {{ form.street.label_tag }}{{ form.street }}
                            </div>
                            <div class="form-row">
                                {{ form.street_number.label_tag }}{{ form.street_number }}
                            </div>
                            <div class="form-row">
                                {{ form.door_number.label_tag }}{{ form.door_number }}
                            </div>
                            <div class="form-row">
                                {{ form.phone_number.label_tag }}{{ form.phone_number }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="big-form-btn">
                        {% if url == 'user_account' %}
                            ZAPISZ ZMIANY
                        {% elif url == 'register' %}
                            UTWÓRZ KONTO
                        {% else %}
                            ZALOGUJ SIĘ
                        {% endif %}

                    </button>
                    {% if messages %}
                        <div class="center-message" style="margin-top:24px;">
                            <div class="message-box">
                                <div class="message-text">{{ message }}</div>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}