{% load static %}
<div class="links_login">

    <div>
        <a href='{% url 'cart' %}'>
            <img src="{% static 'images/koszyk.jpeg' %}" alt="koszyk" title="KOSZYK">
        </a>
            <div class="link_login-label">{% if user.is_authenticated %}
                {{ items | length }}{% endif %}</div>
   </div>
   <div>
        <a href='{% url 'user_account' %}'>
            <img src="{% static 'images/user.jpeg' %}" alt="user" {% if user.is_authenticated %}title="{{ user.username }}"{% else %}title="Not logged in"{% endif %}>
        </a>
    </div>
   <div>
        <a href='{% url 'logout' %}'>
            <img src="{% static 'images/logout.jpeg' %}" alt="logout" title="LOGOUT">
        </a>
   </div>
</div>