<!DOCTYPE html>
<html lang='pl'>
<head>
    <meta charset="UTF-8">
    <title>Pasieka Vertigo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form_style.css' %}">
</head>
<body>
{% include 'accounts_links.html' %}
<div>
    <h1> Dzisiaj  {{ current_date }} </h1>
</div>
{% include 'links.html' %}

{% if messages %}
    {% for message in messages %}
        <div class="center-message">
            <div class="message-box {{ message.tags }}">
                <div class="message-text">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% block content %}
{% endblock %}
</body>
</html>