{% load static %}
<div class="links">
    <div style="text-align: center;">
        <a href='{% url 'home' %}'>
            <img src="{% static 'images/home.jpg' %}" alt="home_picture" title="STRONA GŁÓWNA">
        </a>
            <div class="link-label">Strona domowa</div>
        </div>

    <div style="text-align: center;">
        <a href='{% url 'honeys' %}'>
            <img src="{% static 'images/honey.jpg' %}" alt="honey_picture" title="MIODY">
        </a>
            <div class="link-label">Miody</div>
    </div>

    <div style="text-align: center;">
        <a href='{% url 'home' %}'>
            <img src="{% static 'images/bee_product.webp' %}" alt="bee_product_picture" title="PRODUKTY PSZCZELE">
        </a>
            <div class="link-label">Produkty pszczele</div>
        </div>
</div>